<app-button routerLink="welcome">Welcome!</app-button>

<app-button routerLink="contact">Contact!</app-button>

<app-button (click)="alert('1')">Alert!</app-button>
<app-button (click)="alert('2')" suffix="Cokolwiek">Alert!</app-button>

<app-button (click)="toggleDetails()">
  {{ isDetailsShown ? "Hide" : "Show" }}
</app-button>
<div *ngIf="isDetailsShown">Details!</div>

<ul>
  <li *ngFor="let color of colors"> {{ color }} </li>
</ul>

<router-outlet></router-outlet>
