.button {
  background: dodgerblue;
  border: 2px #000000;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
  cursor: pointer;

  &__text {
    color: white;
  }
  &:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }
}
